$color-primary: #2ca09ace;
$color-primary-light: #77fff8ce;
$color-primary-dark: #038680ce;

$color-gray-dark: rgb(3, 2, 53);
$color-white: rgb(255, 246, 246);
$color-black: rgb(29, 17, 1);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: $color-gray-dark;
	padding: 30px;
}

.header {
	height: 95vh;
	background-color: #0abcf9;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(../img/landscape.jpg);
	background-size: cover;
	background-position: center;
	position: relative;

	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	&__logo-box {
		position: absolute;
		top: 40px;
		left: 40px;
	}

	&__logo {
		height: 50px;
	}

	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

.heading-primary {
	color: $color-gray-dark;
	text-transform: uppercase;

	backface-visibility: hidden;
	margin-bottom: 60px;

	&--main {
		display: block;
		font-size: 50px;
		font-weight: 500;
		letter-spacing: 25px;

		animation: moveInLeft 1s ease-in-out;
	}

	&--sub {
		display: block;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 17.4px;

		animation: moveInRight 1s ease-in-out;
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	80% {
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.btn {
	&:link,
	&:visited {
		text-transform: uppercase;
		letter-spacing: 0.25rem;
		text-decoration: none;
		padding: 15px 40px;
		display: inline-block;
		border-radius: 100px;
		transition: all 0.2s;
		position: relative;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgba($color-gray-dark, 0.4);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgba($color-gray-dark, 0.4);
	}

	&--white {
		background-color: $color-gray-dark;
		color: $color-white;

		&::after {
			background-color: $color-gray-dark;
		}
	}

	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 100px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&--animated {
		animation: moveInBottom 0.5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}
}
