// Mixins
@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin gradient($color-1, $color-2) {
	background-image: linear-gradient(to right bottom, $color-1, $color-2);
}

.navigation {
	// Hidden Checkbox
	&__checkbox {
		display: none;

		// Navigation Functionality
		&:checked ~ .navigation__background {
			transform: scale(100);
		}

		&:checked ~ .navigation__nav {
			transform: translateX(0);
			visibility: initial;
			opacity: 1;
		}
	}

	// Input Label -> Styled as a Button
	&__button {
		position: fixed;
		top: 6rem;
		right: 6rem;
		width: 7rem;
		height: 7rem;
		border-radius: 50%;
		background-color: $color-white;
		box-shadow: 0 1rem 3rem rgba($color-black, 0.2);
		cursor: pointer;
		z-index: 1600;
		text-align: center;

		@include respond(tab-port) {
			top: 4rem;
			right: 4rem;
		}

		@include respond(phone) {
			top: 3rem;
			right: 3rem;
		}
	}

	// Background Image / Gradient -> Hidden Behind a Label
	&__background {
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		background-image: radial-gradient(
			$color-primary-light,
			$color-primary-dark
		);
		z-index: 1500;
		transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

		@include respond(tab-port) {
			top: 4.5rem;
			right: 4.5rem;
		}

		@include respond(phone) {
			top: 3.5rem;
			right: 3.5rem;
		}
	}

	// Menu Container
	&__nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		z-index: 1550;

		transform: translateX(-50%);
		visibility: hidden;
		opacity: 0;

		transition: opacity 0.8s ease-in,
			transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	// Unordered List
	&__list {
		@include absolute-center;
		text-align: center;
		list-style: none;
	}

	// List Items with Automatic Counter
	&__item {
		margin: 1rem;
		counter-increment: list;
	}

	// Item Links
	&__link {
		// Automatic Counter
		&::before {
			content: '0' counters(list, '');
			padding-right: 1.2rem;
		}

		&:link,
		&:visited {
			display: inline-block;
			font-size: 3rem;
			font-weight: 300;
			padding: 1rem 2rem;
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			background-image: linear-gradient(
				120deg,
				transparent 0%,
				transparent 49.9%,
				$color-white 50%
			);
			background-size: 227%;

			transition: all 0.4s;

			@include respond(phone) {
				font-size: 2rem;
			}
		}

		&:hover,
		&:active {
			color: $color-primary;
			background-position: 100%;
			transform: translateX(1rem);
		}
	}

	// Icon Design
	&__icon {
		display: inline-block;
		position: relative;
		width: 3rem;
		height: 0.5rem;
		top: 29%;

		@include respond(tab-land) {
			top: 26%;
		}

		@include respond(tab-port) {
			top: 20%;
		}

		transition: transform 0.25s ease-in-out;

		&-span {
			position: absolute;
			height: 0.5rem;
			width: 50%;
			background: $color-gray-dark-2;

			transition: all 0.5s ease-in;

			&:nth-child(even) {
				left: 50%;
				border-radius: 0 0.9rem 0.9rem 0;
			}
			&:nth-child(odd) {
				left: 0;
				border-radius: 0.9rem 0 0 0.9rem;
			}

			&:nth-child(1),
			&:nth-child(2) {
				transform: translateY(-1rem);
			}
			&:nth-child(5),
			&:nth-child(6) {
				transform: translateY(1rem);
			}
		}
	}

	&__checkbox:checked + &__button &__icon-span {
		&:nth-child(1),
		&:nth-child(6) {
			transform: rotate(45deg);
		}
		&:nth-child(2),
		&:nth-child(5) {
			transform: rotate(-45deg);
		}
	}

	&__checkbox:checked + &__button &__icon-span {
		&:nth-child(2),
		&:nth-child(6) {
			transform-origin: left;
		}
		&:nth-child(1),
		&:nth-child(5) {
			transform-origin: right;
		}
	}

	&__checkbox:checked + &__button &__icon-span {
		&:nth-child(3) {
			left: -50%;
			opacity: 0;
		}
		&:nth-child(4) {
			left: 100%;
			opacity: 0;
		}
	}

	&__button:hover &__icon-span {
		&:nth-child(3) {
			transform: translateX(-0.3rem) scale(1.1);
		}
		&:nth-child(4) {
			transform: translateX(0.3rem) scale(1.1);
		}
	}

	&__checkbox:checked + &__button:hover &__icon {
		transform: rotate(180deg);
	}
}
