// COLORS
$color-primary: #29c2bace;
$color-primary-light: #21e0d7ce;
$color-primary-dark: #0f7a75ce;

$color-thirdiary-light: #18e2b0;
$color-thirdiary-dark: #09bd93;

$color-secondary-light: #db26ff;
$color-secondary-dark: #c415e7;

$color-tertiary-light: #f82793;
$color-tertiary-dark: #ff1592;

$color-gray-light-1: #fcf7f7;
$color-gray-light-2: rgb(228, 228, 228);

$color-gray-dark: rgb(48, 24, 2);
$color-white: rgb(255, 247, 247);
$color-black: rgb(29, 17, 1);

// FONTS
$default-font-size: 1.8rem;

// GRIDS
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
