// COLORS
$color-primary: #19d4cbce;
$color-primary-light: #38fff5ce;
$color-primary-dark: #038680ce;

$color-gray-light-1: #f7f7f7;

$color-gray-dark: rgb(3, 2, 53);
$color-white: rgb(255, 246, 246);
$color-black: rgb(29, 17, 1);

// GRIDS
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
