// COLORS
$color-primary: #09d1c7ce;
$color-primary-light: #30d3cbce;
$color-primary-dark: #0cc5bcce;

$color-secondary-light: #c621e7;
$color-secondary-dark: #9e2eff;

$color-tertiary-light: #f82793;
$color-tertiary-dark: #ff1592;

$color-gray-light-1: #fcf7f7;
$color-gray-light-2: rgb(228, 228, 228);

$color-gray-dark: rgb(48, 24, 2);
$color-white: rgb(255, 247, 247);
$color-black: rgb(29, 17, 1);

// FONTS
$default-font-size: 1.8rem;

// GRIDS
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
