.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		letter-spacing: 0.25rem;
		text-decoration: none;
		padding: 15px 40px;
		display: inline-block;
		border-radius: 100px;
		transition: all 0.2s;
		position: relative;
		font-size: 1.125 * $default-font-size;

		@include respond(tab-port) {
			letter-spacing: 0.2rem;
			padding: 12px 28px;
			font-size: 1 * $default-font-size;
		}

		@include respond(phone) {
			display: inline-block;
			letter-spacing: 0.2rem;
			padding: 12px 30px;
			font-size: 0.81 * $default-font-size;
		}

		// For book button element
		border: none;
		cursor: pointer;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgba($color-gray-dark, 0.4);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgba($color-gray-dark, 0.4);
	}

	&--white {
		background-color: $color-gray-dark;
		color: $color-white;

		&::after {
			background-color: $color-gray-dark;
		}
	}

	&--green {
		background-color: $color-thirdiary-light;
		color: $color-white;

		&::after {
			background-color: $color-thirdiary-light;
		}
	}

	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 100px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&--animated {
		animation: moveInBottom 0.5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-primary;
		padding: 3px;
		transition: all 0.2s;
	}

	&:hover {
		background-color: $color-primary;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
		transform: translateY(0);
	}
}
